<div class="continer">
  <p-button class="xl:block" [routerLink]="['/main']">Go back</p-button>
  <p-panel header="{{product?.title}}">
    <div class="flex">
      <div>
        <h4>Thumbnail</h4>
        <img class="w-9 sm:w-24rem xl:w-16rem block xl:block mx-auto border-round" [src]="product?.thumbnail"
          alt="img" />
      </div>
      <p-divider layout="vertical"></p-divider>
      <div>
        <h4>Description</h4>
        <p> {{product?.description}}
        </p>
      </div>
      <p-divider layout="vertical"></p-divider>
      <div>
        <h4>Brand</h4>
        <p> {{product?.brand}}
        </p>
      </div>
    </div>

    <p-accordion>
      <p-accordionTab *ngFor="let item of product?.images" header="Images">
        <img class="w-9 sm:w-24rem block xl:block mx-auto border-round" [src]="item" alt="title" />
      </p-accordionTab>
    </p-accordion>
  </p-panel>
</div>
